html,
body {
  min-width: 300px;
  color: hsl(227, 82%, 2%);
  background-color: hsl(59, 57%, 58%);
  font-family: 'Open Sans', Arial, sans-serif;
  line-height: 1.5;
}



#navbar {
  position: fixed;
  max-width: 250px;
  top: 0px;
  left: 0px;
  height: 100%;
  border-right: solid;
  border-color: #00000066;
  color:#000000;
  z-index: 1;
}


header, h2 {
  
  color: black;
  text-align: center;
  font-size: 1.8em;
  font-weight: thin;
  background-color: hsla(0, 98%, 66%, 0.473);
  margin-bottom: 5px;
  margin-top: 2px;
  
}



.nav ul {
  height: 88%;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
}


li {
  color: hsl(0, 0%, 0%);
  border-top: 1px solid;
  list-style-type:disc;
  position: relative;
  width: 100%;
}

#navbar a {
  display: block;
  padding: 10px 30px;
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  background-color: #ffa600;
  font-weight: bold;
}

#main-doc {
  position: absolute;
  margin-left: 250px;
  padding: 20px;
  margin-bottom: 110px;
  max-width: 500px;
  color: black;
  z-index: -1;
}

section article {
  color: hsl(240, 2%, 8%);
  margin: 15px;
  font-size: 0.96em;
  max-width: 500rem
}

section li {
  margin: 15px 0px 0px 20px;
}

footer {
  background-color: black;
  color: white;
  position: relative;
  inset: auto 0 0 0;
  width: 550px;
}

@media (max-width: 800px) {
  
  #navbar ul {
    border: 1px solid;
    height: 200px;
  }

  html, body {
  color: hsl(227, 82%, 2%);
  background-color: lch(74.46% 27.61 292.06);
  font-family: 'Open Sans', Arial, sans-serif;
  line-height: 1.5;
  
  position: absolute;
  }

  #navbar {
    position: fixed;
    top: 0px;
    width: 100%;
    max-height: 275px;
    border: none;
    border-bottom: 2px solid;
    color: black;
    z-index: 1;
  }
  #main-doc {
    position: absolute;
    margin-left: 300px;
    margin-top: 0px;
    color: black;
    max-width: 450px;
    background-color: lab(34.39% 54.2 -83.33);
    z-index: -1;
  }
  
  header {
  color: black;
  width:50rem;
  margin: 10px;
  text-align: center;
  font-size: 1.8em;
  font-weight: thin;
  background-color: #fd5656;
  max-width: 250px;
  }

  section article {
  color: hsl(240, 2%, 8%);
  margin: 15px;
  font-size: 0.96em;
  max-width: 300px;
 }

 p {
  max-width: 300px;
 }
 footer {
  background-color: black;
  color: white;
  position: relative;
  inset: auto 0 0 0;
  width: 300px;
}
}

